 .mobile-menu{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    transform: translateX(-100vw);
}

.logo{
    height: 70px;
    width: 70px; 
}
.mobile-menu-container{
    width: 60vw;
    height: 100vh;
    background: #404446;
    padding: 2rem;
}

.mobile-menu.active{
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu img{
    margin-bottom: 3rem;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-right: 2rem;
}
.contact-btn2{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(180deg, #c0bdce -90%, #6bb7d4 100%);
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 0.2rem;
    outline: 1.5px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 769px){
    .mobile-menu{
        display: block;
    }
}