.footer {
    position: relative;
   }

.Quick-Links{
  position: absolute;
  padding-left: 2rem;
}

.Quick-Links a{
  cursor: pointer;
}
 
.Contact {
    padding-left: 30rem;
    
}

.Contact p{
  color: grey;
}
  .footer h5{
    color: #ccad00;
  }

  ul{
    list-style-type: none;
    padding-left: 0;
  }
   a {
    color: grey;
    text-decoration: none;
    font-size: 1.06rem;
    list-style-type: none;
    

  }

  
.social-media{
  padding-left: 75rem;
  position: absolute;
  top: 0;

}

  .Last-footer {
    background: #80002052;
    text-align: center;
    padding: 1rem 0;
  }
  
  .Last-footer p {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
  

@media (max-width: 1025px){
    .social-media{
    padding-left: 60rem;
  }
  .Contact{
    padding-left: 20rem;
  }
}


@media (max-width: 768px){
  .Contact{
    padding-left: 15rem;
  }

  .social-media{
    padding-left: 40rem;
  }
}


@media (max-width: 425px){
  
  .Quick-Links{
    padding-left: 0;
  }

  .Contact{
    padding-left: 11rem;
  }

  .social-media{
    margin-top: 11rem;
    padding-left: 0;
  }

  .Last-footer{
    width: 27.6rem;
  }
   
}